- var dateNow = new Date();
- var year = dateNow.getFullYear();
html
  head
    body(style="background-color: #eef0f4; text-align: center; font-family: 'Helvetica', 'Arial', sans-serif; color: #47494d; font-size: 16px")
      table(style='width: 670px; margin: 0 auto; border-collapse: collapse')
        tr
          td(style='padding-top: 20px; padding-bottom: 20px; font-size: 14px')
        tr(style='background-color:#ffffff; text-align: left')
          td(style='height: 88px; border-bottom: #dde3f1;')
            div(style='height: 88px; width: 100%; border-bottom: 1px solid #dde3f1;')
              img(src='http://www.prizmapp.com/images/logo.png' alt='Prizm'
                  style='margin-top: 22px; height: 47px; width: 116px; margin-left: 20px;')
        tr(style='background-color: #ffffff;')
          td(style='padding: 30px; text-align: left;')
            p 
              | Dear Parent,
            p
              | #{organization.name} is using Prizm to communicate with #{user.name}!
            p 
              strong What is Prizm?
              br
              | Prizm is an app that creates a private, digital community for 
              | youth organizations like #{organization.name} to communicate with their
              | members on their phones. Organization leaders use Prizm to:
              ul
                li send messages and reminders
                li facilitate group discussions
                li send occasional surveys about the organization
                li pass along information about college, scholarships and the 
                  | future
              br
              | When creating an account, your child provides his/her name, 
              | email address, zip code and date of birth. 
              strong We do not rent or sell any personal data and there are 
                | no ads on Prizm.
            p
              strong How does it work?
              ul
                li Using Prizm, your child will be able to participate in group 
                  | discussions with #{organization.name} leaders and members. These 
                  | discussions are archived and accessible by members.
                li Group discussions can only be seen by group members and 
                  | leaders, not the whole Prizm community.
                li Your child may choose to post pictures to their Prizm profiles,
                  | but because he/she is under 13, his/her posts will only be 
                  | seen by other members of the organization. Older members have
                  | the choice to share posts with members of their organization
                  | or share with the whole Prizm community.
            p
              strong Is Prizm safe?
              br
              | Prizm takes your child's privacy and safety very seriously.
              ul
                li Personal contact information is kept private with Prizm and
                  | #{organization.name}.
                li All messages are recorded and accessible by participants.
                li #{organization.name} leaders and members have the ability to flag and/or
                  | remove inappropriate conversations and posts if they need to.
            p
              | We will not use or disclose your child's personal information 
              | for any purpose except stated above. Prizm will not use your 
              | email address again. You may decline to allow your child to 
              | participate in Prizm by emailing us at 
              a(href='mailto:info@prizmapp.com') info@prizmapp.com
              | . Or if you need to contact us in the future, please email us at 
              a(href='mailto:info@prizmapp.com') info@prizmapp.com
              | .
            p
              | Your child's information will be safe with Prizm for as long as 
              | his/her account is active. The information in Prizm accounts 
              | that are inactive for 12 months gets deleted. We will retain and 
              | use information as neccessary to comply with our legal 
              | obligations, resolve disputes, and enforce our agreements.
            p
              | Here is our Privacy Policy for your records: 
              a(href='https://www.prizmapp.com/privacy') https://www.prizmapp.com/privacy
            p
            p
            p Thank You!
            p The Prizm Team
        tr(style='background-color: #ffffff')
          td(style='text-align: center; padding: 20px;')
            p(style='font-size: 14px; color: #25689a;') FOLLOW PRIZM
            a(href='https://www.facebook.com/prizmapp'
            style='text-decoration: none')
              img(src='http://www.prizmapp.com/images/facebook.png'
              style='height: 32px; width: 32px;'
              alt='Facebook')
            a(href='https://www.twitter.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/twitter.png'
              style='height: 32px; width: 32px;'
              alt='Twitter')
            a(href='https://www.instagram.com/beprizmatic'
            style='text-decoration: none; margin-left: 5px;')
              img(src='http://www.prizmapp.com/images/instagram.png'
              style='height: 32px; width: 32px;'
              alt='Instagram') 
        tr(style='background-color: #ffffff')
          td
            div(style='height: 40px; width: 100%; border-bottom: 1px solid #dde3f1;')
        tr
          td(style='padding: 10px 0px')
            p(style='font-size: 12px')
              | Copyright &copy; #{year} Higher Altitude, Inc. All rights reserved.
